<div class="row">
  
  <div class="span8 offset1">
    <h2>Articles for <%= @blog.title %></h2>
  
    <% if @articles.blank? %>
      <table class="table table-striped">
        <tr>
          <td><em>There are no articles in this blog yet.</em></td>
        </tr>
      </table>
    
    <% else %>
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Published article</th>
            <th>Link to date</th>
            <th>Published date</th>
          </tr>
        </thead>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.title, "https://#{current_shop.url}/admin/blogs/#{article.prefix_options[:blog_id]}/articles/#{article.id}", :target => 'blank' %></td>
          <td><%= link_to "(edit)", "/blogs/#{@blog.id}/articles/#{article.id}"  %></td>
          <td><%= Time.parse(article.published_at).strftime("%Y %b %d - %H:%M") %> 
          </td>
        </tr>
        
        <% 
        

        
         %>
        
      <% end %>
      </table>
      
    <% end %>
    
    <br/>
    
    </div> <!-- span8 / right-column -->
</div> <!-- row -->