  <%# binding.pry %>
<header class="jumbotron">
  <div class="inner">
    <div class="container">
      <h1 style="letter-spacing:-3px; margin-bottom:20px;">Where do I start?</h1>
      <p class="lead">An <strong>intro</strong> to using the Shopify App Template<br/>
      including information on the <strong>Shopify API</strong> and <strong>Bootstrap,</strong><br/>
      just to get the ball rolling.</p>
    </div><!-- /container -->
  </div>
</header>


<%# binding.pry %>
<%= form_for @article, :url => blog_article_path(@blog) do |f| -%>

<%= f.label :published_at, "Published At" %>
<%= f.text_field :published_at, 
  :value => DateTime.parse(@article.published_at).strftime("%d/%m/%Y"), 
  :class => "datepicker span2" %>
  
  <%= f.button "Submit" %>
  
<% end -%>



<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $('.datepicker').datepicker( {format: 'dd/mm/yyyy' })
});


</script>