<header class="jumbotron">
  <div class="inner">
    <div class="container">
      <h1 style="margin-bottom:20px;">Change published dates of blog posts from the web</h1>
      <p class="lead"><%= t 'app.explanation', :default => "One missing feature from Shopify's blogging tool is an easy way to change the published date of a post, after publishing it. This app exists to solve that one specific problem – it lets you change the published date for posts, without resorting to API hackery. Nothing more. Hope you find it useful!" %></p>
    </div><!-- /container -->
  </div>
</header>

<div class="row">

  <%= render 'shared/blog_listing', :blogs => @blogs %>
</div>